@import url("https://fonts.googleapis.com/css?family=Cherry+Bomb+One&display=swap");

.header-name {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-family: "Cherry Bomb One", cursive;
  animation: breathingEffect 4s infinite ease-in-out;
  font-size: 6em;
  margin-left: 5.5em ;
  border-radius: 75px;
  width: 35vw;
  cursor: pointer;
}

@keyframes breathingEffect {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}


.header-name:hover {
  animation: twirlEffect 2s linear infinite;
}

@keyframes twirlEffect {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}